*{
    box-sizing: border-box;
}
.heading h1{
    padding-left: 200px;
}
.heading{
    background-color: rgba(26, 12, 107, 0.95);
    color: white;
}
.heading a{
    color: white;
}
.main{
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.head{
    padding-right: 200px;
}
.main-img{
    animation-name: upanddown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.feature{
    background-color: rgb(230, 229, 236);
}
.feature i{
    background-color: rgba(26, 12, 107, 0.95);
    padding: 50px;
    border-radius: 50%;
    color: white;
    font-size: 50px;
}
.special{
    height: 100%;
}
/* @keyframes upanddown{
    0%{
        padding-top: 50px;
    }
    50%{
        padding-bottom: 50px;
    }
    100%{
        padding-top: 50px;
    }
} */